In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data.csv')

In [3]:
df.head()

,SeriesName,tvdbID,Network,tvdbRating,indicator,Action,Adventure,Animation,Children,Comedy,...,Romance,Science-Fiction,Soap,Special Interest,Sport,Suspense,Talk Show,Thriller,Travel,Western
0,Doctor Who (2005),78804,BBC,9,1341,0,0.333333,0,0,0.000000,...,0,0.333333,0,0,0,0,0,0.000000,0,0
1,Game of Thrones,121361,HBO,10,920,0,0.333333,0,0,0.000000,...,0,0.000000,0,0,0,0,0,0.000000,0,0
2,Sons of Anarchy,82696,FX,9,828,0,0.000000,0,0,0.000000,...,0,0.000000,0,0,0,0,0,0.333333,0,0
3,Bones,75682,FOX,9,792,0,0.000000,0,0,0.333333,...,0,0.000000,0,0,0,0,0,0.000000,0,0
4,Fringe,82066,FOX,9,783,0,0.000000,0,0,0.000000,...,0,0.200000,0,0,0,0,0,0.200000,0,0